<nav aria-label="breadcrumb">
    <ol class="breadcrumb alert alert-secondary">
        <li class="breadcrumb-item" aria-current="page"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Clientes</li>
    </ol>
</nav>

<div class="card mb-4">
    <div class="card-header">
        Clientes Cadastrados
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" width="100%" cellSpacing="0">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nome</th>
                        <th scope="col">CPF</th>
                        <th scope="col">Telefone</th>
                        <th scope="col">Ações
                            <button class="btn btn-sm btn-success" (click)="newClient()"><i
                                    class="bi bi-plus"></i>Cadastrar</button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let client of listClients">
                        <th scope="row">{{ client.id }}</th>
                        <td>{{ client.name }}</td>
                        <td>{{ client.cpf }}</td>
                        <td>{{ client.phone }}</td>
                        <td>
                            <a class="btn btn-sm btn-warning" routerLink="/clients/form/{{ client.id }}"><i class="bi bi-pencil-square"></i> Editar</a>
                            &nbsp;
                            <a class="btn btn-sm btn-danger" href="#"><i class="bi bi-trash"></i> Deletar</a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>