<div class="container">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb alert alert-secondary">
            <li class="breadcrumb-item" aria-current="page"><a [routerLink]="''">Home</a></li>
            <li class="breadcrumb-item" aria-current="page"><a [routerLink]="'/clients'">Clientes</a></li>
            <li class="breadcrumb-item active" aria-current="page">Cadastro</li>
        </ol>
    </nav>

    <div class="card mb-4">
        <div class="card-header">
            Cadastro
        </div>
        <div class="card-body">
            <!-- Tabs navs -->
            <ul class="nav nav-tabs nav-fill mb-3" id="ex1" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link" [ngClass]="{'active': tabClient}" id="ex2-tab-1" data-mdb-toggle="tab"
                        role="tab" aria-controls="ex2-tabs-1" aria-selected="true">Cliente</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" [ngClass]="{'active': tabVehicle}" id="ex2-tab-2" data-mdb-toggle="tab"
                        role="tab" aria-controls="ex2-tabs-2" aria-selected="false">Veiculo</a>
                </li>

            </ul>
            <!-- Tabs navs -->

            <!-- Tabs content -->
            <div class="tab-content" id="ex2-content">
                <div class="tab-pane fade" [ngClass]="{'show active': tabClient}" id="ex2-tabs-1" role="tabpanel"
                    aria-labelledby="ex2-tab-1">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="nome"
                            [(ngModel)]="client.name">
                        <label for="floatingInput">Nome</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="cpf"
                            [(ngModel)]="client.cpf">
                        <label for="floatingInput">CPF</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="tel" class="form-control" id="floatingInput" placeholder="telefone"
                            [(ngModel)]="client.phone">
                        <label for="floatingInput">Telefone</label>
                    </div>
                    <div class="row m-1">
                        <button class="btn btn-primary" (click)="nextTabVehicle()">
                            <i class="bi bi-arrow-90deg-right"></i>
                            Próximo</button>
                    </div>
                </div>
                <div class="tab-pane fade" [ngClass]="{'show active': tabVehicle}" id="ex2-tabs-2" role="tabpanel"
                    aria-labelledby="ex2-tab-2">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="placa"
                            [(ngModel)]="vehicle.licensePlate">
                        <label for="floatingInput">Placa Veiculo</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="cor"
                            [(ngModel)]="vehicle.color">
                        <label for="floatingInput">Cor</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Ano"
                            [(ngModel)]="vehicle.year">
                        <label for="floatingInput">Ano fabricação</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="search" class="form-control" id="floatingInput" placeholder="Modelo"
                            data-bs-toggle="modal" data-bs-target="#exampleModal" disabled="false"
                            [(ngModel)]="modelVehicle.name">
                        <label for="floatingInput">Clique para escolher o Modelo</label>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="row m-1">
                                <button class="btn btn-primary" (click)="previousTabClient()">
                                    <i class="bi bi-arrow-90deg-left"></i>
                                    Voltar
                                </button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row m-1">
                                <button class="btn btn-success" (click)="finishRegistration()">
                                    <i class="bi bi-check-lg"></i>
                                    Finalizar
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2" *ngIf="vehicles.length > 0">
                        <h5>Veículos cadastrados</h5>
                        <div class="table-responsive">
                            <table class="table table-bordered" width="100%" cellSpacing="0">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Modelo</th>
                                        <th scope="col">Placa</th>
                                        <th scope="col">Cor</th>
                                        <th scope="col">Ano Fab.</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let objVehicle of vehicles">
                                        <th scope="row">{{ objVehicle.id }}</th>
                                        <td>{{ objVehicle.model.name }}</td>
                                        <td>{{ objVehicle.licensePlate }}</td>
                                        <td>{{ objVehicle.color }}</td>
                                        <td>{{ objVehicle.year }}</td>
                                        <td>
                                            <button class="btn btn-sm btn-warning"
                                                (click)="selectedVehicle(objVehicle)"><i
                                                    class="bi bi-pencil-square"></i></button>
                                            &nbsp;
                                            <a class="btn btn-sm btn-danger" href="#"><i class="bi bi-trash"></i>
                                            </a>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Tabs content -->
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modelo de Veiculos</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <!-- Tabs navs -->
                    <ul class="nav nav-tabs nav-fill mb-3" id="ex1" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="ex2-tab-1" data-mdb-toggle="tab" role="tab"
                                aria-controls="ex2-tabs-1" aria-selected="true">
                                Buscar
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="ex2-tab-2" data-mdb-toggle="tab" role="tab"
                                aria-controls="ex2-tabs-2" aria-selected="false">Cadastrar
                            </a>
                        </li>

                    </ul>
                    <!-- Tabs navs -->

                    <!-- Tabs content -->
                    <div class="tab-content" id="ex2-content">
                        <div class="tab-pane fade show active" id="ex2-tabs-1" role="tabpanel"
                            aria-labelledby="ex2-tab-1">

                            <div class="row justify-content-start">
                                <div class="col-10">
                                    <input class="form-control" type="text" placeholder="Digite o modelo"
                                        aria-label="default input example" [(ngModel)]="strModelVehicle">
                                </div>
                                <div class="col-2">
                                    <button class="btn btn-light" (click)="findVehicleByModel()"><i
                                            class="bi bi-search"></i></button>
                                </div>

                            </div>

                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Modelo</th>
                                            <th scope="col">Marca</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-group-divider">
                                        <tr *ngFor="let modeVehicle of listVehicles">
                                            <td>{{ modeVehicle.name }}</td>
                                            <td>{{ modeVehicle.brand.name }}</td>
                                            <td>
                                                <a class="btn btn-sm btn-primary" data-bs-dismiss="modal"
                                                    (click)="selectedModelVehicle(modeVehicle)">
                                                    <i class="bi bi-check"></i>
                                                </a>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>

                        </div>

                        <div class="tab-pane fade" id="ex2-tabs-2" role="tabpanel" aria-labelledby="ex2-tab-2">

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>