<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="card-group">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="../../../assets/images/cliente.png" class="img-fluid rounded-start p-2" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Cadastro Clientes</h5>
                                <p class="card-text">Area para realizar o cadastro dos clientes ou alterações.</p>
                                <div class="row mt-5">
                                    <div class="col d-flex justify-content-end align-items-end">
                                        <button class="btn btn-primary" (click)="navigateClients()">
                                            <i class="bi bi-send"></i>
                                            Avançar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>