<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb alert alert-secondary">
            <li class="breadcrumb-item" aria-current="page"><a [routerLink]="''">Home</a></li>
            <li class="breadcrumb-item" aria-current="page"><a [routerLink]="'/servicos'">Serviços</a></li>
            <li class="breadcrumb-item active" aria-current="page">Cadastro</li>
        </ol>
    </nav>

    <div class="card mb-4">
        <div class="card-header">
            <h5>Cadastro Ordem de Serviço</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">Nº Ordem:</div>
                <div class="col">Data Emissão:</div>
                <div class="col">Status:</div>
            </div>
            <div class="row">
                <div class="col">100</div>
                <div class="col">07/02/2023</div>
                <div class="col">PENDENTE</div>
            </div>
            <div class="row mt-3">
                <hr>
            </div>

            <!-- Tabs navs -->
            <ul class="nav nav-tabs nav-fill mb-3" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link" [ngClass]="{ 'active': isTabClient }" aria-current="page">Cliente</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [ngClass]="{ 'active': isTabVehicle }">Veículo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [ngClass]="{ 'active': isTabService }">Serviço</a>
                </li>
            </ul>
            <!-- Tabs navs -->

            <!-- Tabs content -->
            <div class="tab-content" id="ex2-content">

                <!--CLIENT-->
                <div class="tab-pane fade" [ngClass]="{'show active': isTabClient }" id="ex2-tabs-1" role="tabpanel"
                    aria-labelledby="ex2-tab-1">

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mb-3 mt-3">
                                <label for="formGroupExampleInput" class="form-label">Buscar Cliente por CPF</label>
                                <input type="search" class="form-control" id="formGroupExampleInput"
                                    [(ngModel)]="cpf">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <br class="d-none d-sm-block"><br class="d-none d-sm-block">
                            <button type="button" class="btn btn-outline-info" (click)="findByClientCpf()">
                                <i class="bi bi-search"></i>
                            </button>
                        </div>
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="formGroupExampleInput" class="form-label">ID</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" disabled
                            [(ngModel)]="client.id">
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="formGroupExampleInput" class="form-label">CPF</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" disabled
                            [(ngModel)]="client.cpf">
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="formGroupExampleInput" class="form-label">Nome</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" disabled
                            [(ngModel)]="client.name">
                    </div>
                    <div class="mb-3">
                        <label for="formGroupExampleInput2" class="form-label">Telefone</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2" disabled
                            [(ngModel)]="client.phone">
                    </div>
                    <div class="row m-1">
                        <button type="button" class="btn btn-primary" (click)="activeTabVehicle()">Próximo</button>
                    </div>
                </div>
                <!--CLIENT-->

                <!--VEHICLE-->
                <div class="tab-pane fade" [ngClass]="{'show active': isTabVehicle }" id="ex2-tabs-2" role="tabpanel"
                    aria-labelledby="ex2-tab-2">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mb-3 mt-3">
                                <label for="formGroupExampleInput" class="form-label">Buscar veículo por placa</label>
                                <input type="search" class="form-control" id="formGroupExampleInput"
                                    [(ngModel)]="cpf">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <br class="d-none d-sm-block"><br class="d-none d-sm-block">
                            <button type="button" class="btn btn-outline-info" (click)="findByClientCpf()">
                                <i class="bi bi-search"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-9 col-sm-12">
                            <div class="mb-3">
                                <label for="formGroupExampleInput" class="form-label">Modelo</label>
                                <input type="text" class="form-control" id="formGroupExampleInput" disabled>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <div class="mb-3">
                                <label for="formGroupExampleInput" class="form-label">Ano</label>
                                <input type="text" class="form-control" id="formGroupExampleInput" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <label for="formGroupExampleInput" class="form-label">Placa</label>
                                <input type="text" class="form-control" id="formGroupExampleInput" disabled>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label for="formGroupExampleInput2" class="form-label">Cor</label>
                                <input type="text" class="form-control" id="formGroupExampleInput2" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row m-1">
                        <button type="button" class="btn btn-primary">Próximo</button>
                    </div>
                </div>
                <!--VEHICLE-->

                <!--SERVICE-->
                <div class="tab-pane fade" [ngClass]="{'show active': isTabService }" id="ex2-tabs-3" role="tabpanel"
                    aria-labelledby="ex2-tab-3">
                    <div class="row">
                        <div class="col-md-2 col-sm-12">
                            <div class="mb-3">
                                <label for="formGroupExampleInput" class="form-label">ID</label>
                                <input type="text" class="form-control" id="formGroupExampleInput" disabled>
                            </div>
                        </div>
                        <div class="col-md-10 col-sm-12">
                            <div class="mb-3">
                                <label for="formGroupExampleInput" class="form-label">Descrição</label>
                                <input type="text" class="form-control" id="formGroupExampleInput" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-sm-12">
                            <div class="mb-3">
                                <label for="formGroupExampleInput" class="form-label">Preço</label>
                                <input type="text" class="form-control" id="formGroupExampleInput" disabled>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-12">
                            <div class="mb-3">
                                <label for="formGroupExampleInput" class="form-label">Qtde</label>
                                <input type="number" class="form-control text-center" id="formGroupExampleInput"
                                    value="1">
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <div class="col-md-1 col-sm-6 m-1">
                                <button type="button" class="btn btn-outline-warning">Buscar</button>
                            </div>
                            <div class="col-md-1 col-sm-6  m-1">
                                <button type="button" class="btn btn-outline-info">Gravar</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <hr>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-md table-striped table-hover table-bordered" width="100%"
                            cellSpacing="0">
                            <thead>
                                <tr style="background-color: #CEF6EC;">
                                    <th scope="col">ID</th>
                                    <th scope="col">Descrição</th>
                                    <th scope="col">Qtde</th>
                                    <th scope="col">Preço</th>
                                    <th scope="col" [width]="10">Ação</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row" class="align-middle"></th>
                                    <td class="align-middle"></td>
                                    <td class="align-middle"></td>
                                    <td class="align-middle"></td>
                                    <td>
                                        <a class="btn btn-sm btn-outline-danger" data-toggle="tooltip"
                                            data-placement="left" title="Excluir serviço" href="#">
                                            <i class="bi bi-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row m-1">
                        <button type="button" class="btn btn-success">Enviar</button>
                    </div>
                </div>
                <!--SERVICE-->
            </div>
            <!-- Tabs content -->

        </div>
    </div>
</div>
 <!-- Modal -->
 <div class="modal fade" id="vehicleModal" tabindex="-1" aria-labelledby="vehicleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="vehicleModalLabel">Modal title</h1>
                <!--<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>